@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Azeret Mono";
    margin: 0;
    padding: 0;
}
#hero{
    background-image: url("../assets/Hero-bg.png");
    width: 1440px;
    height: 652px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 72px; */
}
#hero .centered-content{
    width: 998px;
    height: 582px;
    text-align: center;
    margin:0 221px 0 221px;
    
}
.cover-img{
    height: 240px;
    width: 240px;
}
.cover-header{
    margin: 32px 0 24px 0;
    line-height:50px;
}
.cover-paragraph{
     font-size: 12px;
     line-height: 20px;
     margin-bottom: 32px;
}
.cover-button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    font-size: 20px;
    padding: 21px 24px 21px 24px;
}
.web-development-section{
    /* width: 1140px;
    height: 1395px;  */
    padding: 80px 97px 80px 48px;
    /* margin: 0 auto; */
    margin: 0 250px 0 250px;
}
.web-development-section-top{
    margin: 0 auto;
    /* padding-top: 48px; */
    text-align: center;
}
.card-1{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    padding: 48px;
}
.cart1-inside{
 margin-right:98px;
}
.cart2-inside{
    margin-left: 32px;
}
.cart-header{
    margin: 32px 0 24px 0;
    line-height:30px;
}
.card-image{
    height: 217px;
    width: 260px;
    margin-top:34px;
}
.cart-button{
    padding:12px 20px;
}
.inspiration-section{
    margin:0 148px 149px 148px;
    padding:0 144px 0 144px;
}
.video-section{
    border: rgb(221, 222, 222) solid 1px;
    border-radius: 12px;
    margin-top:48px;
    padding: 32px;
    /* width: 1076px;
    height: 550px; */
}
.show-video{
    /* width: 1076px;
    height: 550px; */
    width:100%;
    height: 550px;
    border-radius: 16px;
}
.card-target{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.card-box{
    width: 284px;
    height: 220px;
    padding: 40px;
    border-radius: 16px;
    
}
#card-1{
    background-color: rgba(255, 76, 30, 0.05);;
}
#card-2{
    background-color: rgba(0, 76, 232, 0.05);;
}
#card-3{
    background-color: rgba(255, 223, 0, 0.05);;
}
.box-card-image{
    width: 56px;
    height: 56px;
}
.card-paragraph{
    opacity: 0.7;
    margin-bottom: 24px;
    font-size: 12px;
    text-align: justify;
}
.card-a{
    color: black;
    /* font-weight: bold; */
    margin-top: 24px;
}
.card-header{
    margin: 24px 0 8px 0;
}
.support-section{
    background-image:url("../assets/handshake.jpg");
    /* opacity: .8; */
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1044px;
    height: 314px;
    /* margin: 41px 150px 79px 150px; */
    margin: 0 auto;
    padding: 0 64px;
    border-radius: 16px;
    margin-bottom: 79px;
    justify-content: center;
    align-items: center;
}
.support-section-box{
    width: 1044px;
    height: 186px;
    text-align: center;
    
}
.support-header{
    margin-bottom: 16px;
    color: white;
}
.support-p{
    font-size: 12px;
    line-height: 30px;
    color: white;
}
.support-button{
    margin-top: 24px;
     
}
.button-input{
    width: 508px;
    height: 19px;
    padding: 19px 20px;
    border-radius: 8px;
    /* opacity: 0.7; */
}
.button-submit{
    width: 120px;
    height: 58px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 17px 20px;
}
/* .footer{
    width: 1140px;
    height: 36px;
    padding:32px 150px;
    display: flex;
    margin: 0 auto;
    /* justify-content: center; */
    /* justify-content: space-between; */
/* } */
/* .footer-img{
    width: 36px;
    height: 36px; */
/* }  */